/* button{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 12px;
    font-size: 14px;
} */

button{
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
}


.side-nav {
    background: #fff;
    border-right: 1px solid rgba(0,0,0,.12);
    bottom: 0;
    font-size: 14px;
    overflow-y: auto;
    padding: 72px 0 40px;
    position: fixed;
    top: 0;
    width: 280px;
    z-index: 5;
}

.side-nav__menu-item {
    overflow: hidden;
    position: relative;
}