<!-- <div #toolbarContainer id="toolbarContainer" style="margin-top: 50px">
    <button mat-raised-button matTooltip="New Graph" color="primary" (click)="onClickNew()">New</button>
    <button mat-raised-button matTooltip="Manage the FlowGraphs" color="primary" (click)="onClickManage()">Manage</button>
    <button mat-raised-button matTooltip="Export the current FlowGraph to JSON graph" color="primary" (click)="onClickJSON()">JSON</button>
    <button mat-raised-button matTooltip="Save the current FlowGraph into MongoDB" color="primary" (click)="onClickSave()">Save</button>
</div>
 -->


  <div class="list-group" >
    <!-- <button class="list-group-item list-group-item-action">TestClick</button> -->
    <button class="list-group-item list-group-item-action-primary" matTooltip="New Graph" color="primary" (click)="onClickNew()">New</button>
    <button class="list-group-item list-group-item-action-primary" matTooltip="Manage the FlowGraphs" color="primary" (click)="onClickManage()">Manage</button>
    <button class="list-group-item list-group-item-action-primary" matTooltip="Export the current FlowGraph to JSON graph" color="primary" (click)="onClickJSON()">JSON</button>
    <button class="list-group-item list-group-item-action-primary" matTooltip="Save the current FlowGraph into MongoDB" color="primary" (click)="onClickSave()">Save</button>
  </div>