

<!-- <ng-content *ngIf="!template"></ng-content> -->
<button mat-dialog-close mat-mini-fab color="primary" style = 'left: 95%; width: 40px; height: 40px'>
    <mat-icon >close</mat-icon>
</button>


<!-- <ng-template #test>  
    <button mat-dialog-close mat-mini-fab color="primary" style = 'left: 95%; width: 40px; height: 40px'>
        <mat-icon >Test</mat-icon>
    </button>
</ng-template> -->

<ng-template ngTemplateOutlet appDynamicAnchor ></ng-template>

 
<!-- <ng-container 
  *ngIf="template" 
  [ngTemplateOutlet]="template" 
  [ngTemplateOutletContext]="{data: dataContext}"
></ng-container> -->