

.radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.radio-button {
    margin: 5px;
}
  
.selected-value {
    margin: 15px 0;
}

h1.app-name{
    margin-left: 8px;
}


.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent;
  }