img.mxToolbarModeSelected {
    margin: 0px;
    margin-right: 4px;
    margin-left: 15px;

    margin-bottom: 4px;
    border-style: none; 
    width: 55px;

}

img.mxToolbarMode {
    margin: 0px;
    margin-right: 4px;
    margin-left: 15px;

    margin-bottom: 4px;
    border-width: 0px;
    width: 55px;

}


